 *{
     margin:0;
     padding: 0 ;
     font-family: Serif;

 }
 
header{
     background-image:url('imageYO.png');
     height:100vh;
     background-size:cover;
     background-position: center;
     background-repeat: no-repeat;
}
ul{
    float :right;
    list-style-type: none;
    margin-top: 25px;
}

ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color: #000;
    padding: 5px 20px;
    border:  3px solid #000;
    transition: 0.4s ease;
}

ul li a:hover{
    background-color:#2F4F4F ;
    color: #fff
}

ul li.active a{
    background-color: #000;
    color: #fff

}
.logo img{
    float: left;
    width: 150px;
    height: auto;


}
.main{
    max-width:auto;
    margin: auto;

}
.title{
    position:fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%); 
}
.title h1{
    color:#000 ;
    font-size:50px;
    font-family: 'Arial, sans-serif';
    transform: translate();

}
.button{
    position:fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.btn1{
    border:2px solid#000;
    padding:10px 30px;

    color: #000;
    text-decoration:none ;
    
}
.btn2{
    border:2px solid#000;

    padding:10px 30px;

    color: #000;
    text-decoration:none ;

}
.btn1:hover{
    background-color: #2F4F4F;
    color: #fff
}
.btn2:hover{
    background-color:#2F4F4F;
    color: #fff
}

   
